{% extends 'base.html' %}

{% block title %}
Описание теста
{% endblock %}

{% block header %}
Тест: {{ exam.title }}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm">

            <table class="table table-striped">
                <tbody>

                <tr>
                    <td>Description</td>
                    <td>{{ exam.description }}</td>
                </tr>

                <tr>
                    <td>Question number</td>
                    <td>{{ exam.questions_count }}</td>
                </tr>

                <tr>
                    <td>Attempts number</td>
                    <td>{{ exam.results.count }}</td>
                </tr>

                <tr>
                    <td>Best result</td>
                    <td>N/A</td>
                </tr>

                <tr>
                    <td>Top result</td>
                    <td>N/A</td>
                </tr>

                <tr>
                    <td>Last attempt</td>
                    <td>N/A</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <form action="{% url 'quizzes:result_create' exam.uuid %}" method="post"
              class="d-flex justify-content-center mt-5 mb-2">
            {% csrf_token %}
            <input class="btn btn-success m-3" type="submit" value="Start">
            <a class="btn btn-primary m-3" href="{% url 'quizzes:list' %}">Back to exam lists</a>
        </form>
    </div>


    {% if object_list %}
    <table class="table table-striped table-hover">

        <tr>
            <th></th>
            <th>Start data</th>
            <th>Points</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

        {% for result in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ result.create_timestamp|date:'d-m-Y H:i' }}</td>
            <td>{{ result.points }}</td>
            <td>{{ result.get_state_display }}</td>
            <td>
                {% if result.state == result.STATE.NEW %}

                <a class="btn btn-warning" href="{% url 'quizzes:result_update' exam.uuid result.uuid %}">Continue</a>
                <a class="btn btn-danger" href="#">Delete</a>

                {% else %}

                <a class="btn btn-success"
                   href="{% url 'quizzes:result_details' exam.uuid result.uuid %}">Watch</a>

                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </table>

    {% if is_paginated %}

    <div class="p-1 m-1">
        {% include 'includes/pagination.html' %}
    </div>

    {% endif %}

    {% endif %}

</div>
{% endblock %}
